<footer class="site-footer">
  <div
    class="wrapper"
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <!-- Left Side: Copyright -->
    <div>
      <p>
        © 2026
        <a
          href="mailto:186933450+nishadnyc@users.noreply.github.com"
          style="color: inherit; text-decoration: underline"
        >
          @{{ site.github_username }} </a
        >. All rights reserved.
      </p>
    </div>

    <!-- Right Side: Back to Top Link -->
    <div>
      <a href="#top" id="back-to-top">↑ Back to Top</a>
    </div>
  </div>
</footer>
