<footer class="site-footer">
  <div
    class="wrapper"
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <div>
      <p>
        © 2026
        <a
          href="https://github.com/{{ site.github_username }}"
          style="color: inherit; text-decoration: underline"
        >
          @{{ site.github_username }} </a
        >. All rights reserved.
      </p>
    </div>
    <div>
      <a href="#top" id="back-to-top">↑ Back to Top</a>
    </div>

    <!-- Social Links -->
    <div class="social-links">{%- include social.html -%}</div>
  </div>
</footer>

{% include copy-button.html %} {% include matrix-rain.html %}

<script
  defer
  src="https://www.thunderbolt.com/gateway/api/v1/thunderbolt-ui/embed.js"
></script>
