<header
  class="site-header"
  role="banner"
  style="border-bottom: 1px solid #005500; padding: 20px 0"
>
  <div
    class="wrapper"
    style="
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 800px;
      margin: 0 auto;
      padding: 0 30px;
    "
  >
    <!-- Left Side: Terminal Branding / Clickable Site Title -->
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">
      {{ site.title | escape }}
    </a>

    <nav class="custom-terminal-nav">{% include nav.html %}</nav>
  </div>
</header>
